ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;

  margin: 0;
  padding: 0;
}

/* Styles each navigation dot */
ul > li.nav-dot {
  border: 3px solid black;
  border-radius: 100px;

  width: 20px;
  height: 20px;
}

/* Removes bullet points from all li */
ul > li {
  list-style-type: none;
}

/* Styles the highlighted nav dot */
ul > li.active {
  background-color: lightgray;
}

/* Centers the next and previous arrow buttons. */
ul > li:first-child,
ul > li:last-child {
  display: flex;
  align-items: center;
}
